# Maven
target/

# Logs
logs/
*.log
LOG_PATH_IS_UNDEFINED/

# Database
*.db
*.mv.db
*.trace.db
data/

# Secrets
*.json
*.env
application-local.yml

# IDE
.idea/
.vscode/

# Maven binaries
apache-maven-*/

# Build
build/
dist/

# Local Storage
backend/spring-boot/storage/