# Maven
target/

# Logs
logs/
*.log

# Database
*.db
*.mv.db

# Secrets
*.json
*.env
application-local.yml

# IDE
.idea/
.vscode/

# Maven binaries
apache-maven-*/

# Build
build/
dist/

# Local Storage
backend/spring-boot/storage/